*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Landing_screen_main_pvr{
    width: 100%;
    height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
}
.landing_behind_screen{
    width: 100%;
    height: 100%;
    position: absolute;
}
.Landing_main{
    /* background-color: saddlebrown; */
    /* max-width: 1100px;
    min-width: 440px;
    max-height: 800px;
    min-height: 500px; */
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    gap: 20px;
}

.Landing_main_section_1{
    /* background-color: tan; */
    width:97%;
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: end;
    /* max-height: 90px; */
}
.Landing_main_section_3{
    /* background-color: #8cd2a8; */
    width:97%;
    height: 15%;
    max-height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#Landing_main_section_3_head{
    color: #f5f5f5;
    /* color: #1d192c7a; */
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}
#Landing_main_section_3_para{
    color: #f5f5f5;
    font-size: 18px;
    text-align: center;
    
}



.Landing_main_section_2{
    /* background-color: #d28cb0; */
    width:97%;
    max-width: 850px;
    height: 50%;
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

/* color start */

.Landing_main_section_2_effect_color{
    background-color: #ada1a1;
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    filter: blur(110px);
    position: absolute;
    z-index: 1;
    max-width: 800px;
    animation: rotateAni 30s infinite;
    border-radius: 50%;
    overflow: hidden;
    top: -20px;
    /* transform: infinite rotate(180%); */
}

@keyframes rotateAni {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(180deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}


.Landing_main_section_2_effect_color_1{
    /* background-color: rgb(0, 255, 247); */
    background-color: rgb(255, 0, 0);
    
    width: 50%;
    height: 50%;
}
.Landing_main_section_2_effect_color_2{
    /* background-color: #ffea00; */
    background-color: #ff00aa;
    width: 50%;
    height: 50%;
}
.Landing_main_section_2_effect_color_3{
    /* background-color: rgb(138, 22, 255); */
    background-color: #0acfcc;
    width: 50%;
    height: 50%;
}
.Landing_main_section_2_effect_color_4{
    /* background-color: rgb(29, 37, 255); */
    background-color: #0aa856;
    width: 50%;
    height: 50%;
}

/* color end */


.Landing_main_section_2_layout{
    background-color: #23293fee;
    /* background-color: forestgreen; */
    width: 90%;
    /* height: 90%; */
    max-width: 700px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: #141825 0px 0px 45px;
    z-index: 5;
    border: 1px solid #2b4e856f;
}

.Landing_main_section_2_layout_top{
    /* background-color: burlywood; */
    width: 95%;
    height: 30%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 8px;
}

#url_input_short{
    width: 90%;
    height: 40px;
    border: none;
    font-size: 14px;
    padding: 0px 15px;
    max-width: 565px;
    border-radius: 9px;
    background-color: #2f3650;
    color: #d4d4d4;
    border: 0.5px dotted #93266292;
}
#url_input_short:focus{
    outline: none;
}

#url_short_btn{
    background-color: #2f3650;
    box-shadow: 0px 0px 10px #110e1a89;
    cursor: pointer;
    width: 50px;
    height: 38px;
    border: none;
    border-radius: 5px;
    color: white;
    /* color: #9f9f9f; */
    border: 0.5px dotted #26932a92;
}

.Landing_main_section_2_layout_bottom{
    /* background-color: pink; */
    width: 100%;
    /* height: 240px; */
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    transition: 0.3s ease-in-out;
}



.Landing_main_section_2_layout_bottom_left{
    background-color: #2f365072;
    width: 40%;
    height: 93%;
    max-height: 220px;
    border-radius: 15px;
    overflow: hidden;
    border: 0.5px solid #575555;
}
.Landing_main_section_2_layout_bottom_left_conf_action{
    /* background-color: cadetblue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Landing_main_section_2_layout_bottom_left_conf_action_link_expire{
    background-color: #252b43d2;
    width: 90%;
    height: 30%;
    border-radius: 10px;
    max-height: 40px;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px dotted #7a7a7a;
}
.Landing_main_section_2_layout_bottom_left_conf_action_link_expire select{
    background-color: transparent;
    border: none;
    color: #9c9c9ce7;
    font-size: 16px;
}
.Landing_main_section_2_layout_bottom_left_conf_action_url_number_of_url{
    background-color: #252b43d2;
    width: 90%;
    height: 30%;
    border-radius: 10px;
    max-height: 40px;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px dotted #7a7a7a;
}
.Landing_main_section_2_layout_bottom_left_conf_action_url_number_of_url select{
    background-color: transparent;
    border: none;
    color: #9c9c9ce7;
    font-size: 16px;
}

.Landing_main_section_2_layout_bottom_left_conf_action p{
    color: #9c9c9ce7;
    font-weight: 400;
    font-size: 16px;
}

.Landing_main_section_2_layout_bottom_right{
    background-color: #2f365072;
    /* background-color: red; */
    box-shadow: 0px 0px 20px #141f3369;
    width: 100%;
    height: 90%;
    max-width: 655px;
    max-height: 210px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px 0px 20px 0px;
    /* border: 0.5px solid #505050; */
    /* overflow: scroll; */
    position: relative;
}



.Landing_main_section_2_layout_bottom_right_output_value{
    /* background-color: #02ba30; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* padding-bottom: 50px; */
}
#Landing_main_section_2_layout_bottom_right_output_value_url_div {
    /* background-color: #1a43e6; */
    width: 90%;
    max-height: 180px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #b2b2b2c1;
    font-size: 17px;
    word-break: break-all;
    overflow-wrap: break-word;
    text-align: center;
    padding: 20px;
    /* margin: 10px; */
    /* padding-top: 50px; */
    box-sizing: border-box;
    overflow: hidden;
    overflow: scroll;

}

#Landing_main_section_2_layout_bottom_right_output_value_url_div::-webkit-scrollbar {
    display: none;
  }
.copy_output_url_icon_box{
    width: 29px;
    height: 24px;
    background-color: #1b2234;
    /* background-color: #5d4f03; */
    /* background-color: #404143c7; */
    position: absolute;
    /* position: sticky; */
    top: 10px;
    right: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgba(170, 170, 170, 0.749);
    cursor: pointer;
}


#output_alert_LMS{
    color: #464a5c;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}

#rotate_loader{
    animation:spin 2s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* bgMain : #1a2036 */
/* bgLine : #22293f */
/* componentMain : #252b43 */
/* componentOuter : #2f3650 */

@media (max-width:600px){
    #Landing_main_section_3_head{
        font-size: 50px;
    }
    #Landing_main_section_3_para{
        font-size: 16px;
    }
    .Landing_main_section_1{
        height: 33%;
        /* max-height: 90px; */
    }
    .Landing_main_section_3{
        height: 17%;
    }
}

@media (max-width:500px){
    #Landing_main_section_3_head{
        font-size: 42px;
    }
    #Landing_main_section_3_para{
        font-size: 16px;
    }
}
@media (max-width:410px){
    #Landing_main_section_3_head{
        font-size: 35px;
    }
    .Landing_main_section_1{
        height: 33%;
        /* max-height: 90px; */
    }
    .Landing_main_section_3{
        height: 13%;
    }
    #Landing_main_section_3_para{
        font-size: 14px;
    }
}
@media (max-width:360px){
    #Landing_main_section_3_head{
        font-size: 32px;
    }
    .Landing_main_section_1{
        height: 33%;
        /* max-height: 90px; */
    }
    .Landing_main_section_3{
        height: 10%;
    }
    #Landing_main_section_3_para{
        font-size: 13px;
    }
}
@media (max-width:290px){
    #Landing_main_section_3_head{
        font-size: 28px;
    }
    .Landing_main_section_1{
        height: 33%;
        /* max-height: 90px; */
    }
    .Landing_main_section_3{
        height: 8%;
    }
    #Landing_main_section_3_para{
        font-size: 11px;
    }
}
@media (max-width:255px){
    #Landing_main_section_3_head{
        font-size: 28px;
    }
    .Landing_main_section_1{
        height: 33%;
        /* max-height: 90px; */
    }
    .Landing_main_section_3{
        height: 15%;
    }
    #Landing_main_section_3_para{
        font-size: 11px;
    }
}